@import 'cores';

.editor {
    background: #1E1E1E;
    border: 25px solid $inputBackground;
    height: 450px;
    max-width: 800px;
    outline: none;
    width: 100%;
}


@media screen and (min-width: 992px){

    .editor {
        height: 400px !important;

        &--mini {
            height: 300px !important;
        }
    }
}