@import '../abstracts/variaveis', '../abstracts/mixins';

.editor {
    background: #1E1E1E;
    font-family: 'Source Code Pro';
    border: 25px solid $inputBackground;
    height: 450px;
    outline: none;
    width: 100%;
    resize: none;

    &__compartilhar {
        width: 100% !important;
    }

    @include for-desktop {
        height: 400px !important;
        width: 100% !important;

        &--mini {
            height: 300px !important;
        }
    }
    
}
