.modal {
    color: black;
    box-shadow: none;
    border: none;
    outline: none;
    
    .modal-header, .modal-footer {
        border-bottom: 0;
        border-top: 0;
    }

    .modal-title {
        font-weight: 400;
    }
}