body {
    background-color: #051D3B !important;
    color: white !important;
}

.input-text {
    background-color: #2D415B !important;
    border: none !important;
    color: whitesmoke !important;
    outline: none !important;
    resize: none !important;
}

.info {
    background-color: #041832;
}

.user-background {
    background-color: #2D415B;
    padding: 1rem;
}



@media screen and (min-width: 768px) {

    #buscador {
        background-color: #2D415B ;
        display: inline !important;
        width: 50%;
    }

    #lupa {
        display: none !important;
    }

    .input-formulario {
        width: 30% !important;
    }

    
}

@media screen and (min-width: 992px) {
    .ham {
        display: none !important;
    }

    .largura {
        width: 1000px !important;
    }

    #primeira-coluna {
        display: flex !important;
        margin-top: 10px ;
        
    }

    #desktop-nav {
        display: inline !important;
    }

    #segunda-coluna {
        flex-grow: 4;
    }

    #terceira-coluna {
        margin-left: 10px ;
        margin-top: 10px !important;
    }

    #conteudo-principal {
        flex-grow: 4;
        flex-direction: row !important;
    }

    #coluna-projetos {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 5;  
        justify-content: start;
    }

    

    .bloco-perfil-usuario {
        flex-grow: 4 !important;
    }

    #buscador {
        width: 60%;
    }

    
}

















  





















