@import '../abstracts/mixins';

.auth__input {
    width: 30% !important;
    margin-bottom: 2rem;
    background-color: #2D415B !important;

    @include for-phone {
        width: 100% !important;
    }
}