.conteudo-principal {
    flex-direction: column;

    
    
    &__seletor-cor {
        cursor: pointer;
        height: 50px;
        width: 100%;
    }
}

@media screen and (min-width: 992px) {

    .conteudo-principal {
        flex-grow: 5 !important;
        flex-direction: row !important;

        &__form {
            display: flex !important;
            width: 90%;
        }

        &__editor {
            width: 80%;
        }

        &__info {
            width: 20%;
            margin-left: 10px !important;
            margin-top: 10px !important;
        }
    }
}