@import '../abstracts/mixins';

.conteudo-principal {

    &__editor {
        width: 100% !important;
    }

    &__info {
        width: 100% !important;
    }

    &__form {
        width: 100%;
    }

    @include for-desktop {
        flex-direction: row !important;

        &__form {
            display: flex !important;      
        }

        &__editor {
            width: 75% !important;
        }

        &__info {
            width: 25% !important;
            margin-left: 10px !important;
            margin-top: 10px !important;
        }
    }
    
    &__seletor-cor {
        cursor: pointer;
        height: 50px;
        width: 100%;
    }
}

