@import '../abstracts/mixins';

.nav {

    &-link {
        display: none !important;
    }


    &__lupa {
        display: none !important;
    }

    &__buscador {
        background-color: #2D415B !important;
        display: inline !important;
        width: 50% !important;
    }

    &__dropdown {
        display: inline !important;
    }

    @include for-desktop {
        &__form {
            width: 1000px ;
        }
    }

    @include for-phone {

        &-link {
            display: flex !important;
        }

        &__lupa {
            display: inline !important;
        }

        &__dropdown {
            display: none !important;
        }

        &__buscador {
            display: none !important;
        }
    
        &__dropdown {
            display: none;
        }
    }

    
}
