@import '../abstracts/mixins';

.nav {
    margin-top: 1rem;

    &__logo {
        font-weight: 400;
        letter-spacing: 0.12rem;
        text-transform: uppercase;

        &--dev {
            color: #051D3B;
            background-color: white;
            border-radius: 4px;
        }
    }

}

@include for-phone {
    .nav__tablet {
        display: none;
    }
    .nav__desktop {
        display: none;
    }
}

@include for-tablet {
    .nav__mobile {
        display: none;
    }
    .nav__desktop {
        display: none;
    }
}

@include for-desktop {
    .nav__mobile {
        display: none;
    }
    .nav__tablet {
        display: none;
    }
}