@import '../abstracts/mixins';

@include for-phone {
    .nav__tablet {
        display: none;
    }
    .nav__desktop {
        display: none;
    }
}

@include for-tablet {
    .nav__mobile {
        display: none;
    }
    .nav__desktop {
        display: none;
    }
}

@include for-desktop {
    .nav__mobile {
        display: none;
    }
    .nav__tablet {
        display: none;
    }
}