@import '../abstracts/mixins';

.projetos {
    width: 100% !important;
    display: flex; 
    flex-wrap: wrap;
    justify-content: start;

    @include for-desktop {
        width: 83.3% !important;
    }

    .projeto {
        padding-right: 20px;
        width: 100% !important;

        &__info {
            background-color: #041832;
        }
    
        @include for-desktop {
            width: 50% !important;
        }
    }
}


