@import '../abstracts/mixins';

.projetos {
    display: flex; 
    flex-wrap: wrap;
    flex-grow: 5 !important;  
    justify-content: start;

    .projeto {
        padding-right: 20px;
        width: 100% !important;

        &__info {
            background-color: #041832;
        }
    
        @include for-desktop {
            width: 50% !important;
        }
    }
}


